#container{
	width: 80%;
	margin: 0 auto;
}
header{
	background-color:#42d7f4;
	padding: 30px;
	
}

main{
	margin-top: 50px;
}

a{
	text-decoration:none;
	font-weight: bold;
	color: #42d7f4;
}
footer{
	text-align:center;
}